<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path(@list.photo.key, width: 400, height: 300, crop: :fill) %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>

<div class="container">

  <div class="btn d-flex flex-row-reverse pt-5">
    <div><%= link_to "Add bookmark", new_list_bookmark_path(@list) %></div>
  </div>

  <div class="cards d-flex justify-content-around pt-3">
    <% @bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <img src=<%="https://image.tmdb.org/t/p/w500#{bookmark.movie.poster_url}"%> >
        <div class="card-trip-infos">
          <div>
            <div class="card-header d-flex flex-row align-items-center p-2">
              <h2><%= bookmark.movie.title %></h2>
              <p><%= bookmark.movie.rating %></p>
              <i class="fa-solid fa-star"></i>
            </div>

            <div class="px-2 text-justify">
              <p><%= bookmark.movie.overview %></p>
            </div>
            <hr>

            <div class="d-flex justify-content-between align-items-center pt-2 px-2">
              <div class="d-flex flex-row align-items-center">
                <i class="fa-solid fa-quote-left" id="icon"></i>
                <%= bookmark.comment %>
              </div>

              <div>
                <%= link_to "delete", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
