<h1><%= @list.name %></h1>

<div>
  <h2>Bookmarks:</h2>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li> <img src=<%="https://image.tmdb.org/t/p/w500#{bookmark.movie.poster_url}"%> ></li>
      <li><%= bookmark.movie.title %></li>
      <li><%= bookmark.movie.overview %></li>
      <li><%= bookmark.comment %></li>
    <% end %>
  </ul>
</div>

<img src="" alt="">

<div>
  <%= link_to "Back to lists", lists_path %>
</div>

<div>
  <%= link_to "Add bookmark", new_list_bookmark_path(@list) %>
</div>
